<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bokeh -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.4.0.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.4.0.min.js"></script>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>{% block title %}{% endblock %}</title>
    {% block favicon %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
            <li class="nav-item me-4">
              <a
                class="nav-link active d-flex align-items-center"
                href="{{ url_for('index') }}"
              >
                <img
                  src="{{ url_for('static', filename='pencil-square-white.svg') }}"
                  alt="Home"
                  style="width: 20px; height: 20px; margin-right: 8px"
                />
                <b>Experiments</b>
              </a>
            </li>
            <li class="nav-item me-4">
              <a
                class="nav-link d-flex align-items-center"
                href="{{ url_for('compare') }}"
              >
                <img
                  src="{{ url_for('static', filename='icon_compare_white.svg') }}"
                  alt="Compare"
                  style="width: 20px; height: 20px; margin-right: 8px"
                />
                <b>Solutions viewer</b>
              </a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <label for="databaseSelect" class="text-white me-2 mb-0"
              ><b>Choose DB:</b></label
            >
            <div class="input-group">
              <select id="databaseSelect" class="form-select">
                {% if active_database %}
                <option selected>{{ active_database }}</option>
                {% else %}
                <option selected>Select Database</option>
                {% endif %} {% for db in databases %}
                <option value="{{ db }}">{{ db }}</option>
                {% endfor %}
              </select>
              <button class="btn btn-primary" id="setDatabaseButton">Go</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main Content -->
    <div class="container-fluid mt-4 ps-4">
      {% block content %}{% endblock %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </body>
</html>
