{% extends "base.html" %} {% block title %}Compare systems{% endblock %} {%
block favicon %}
<link
  rel="icon"
  href="{{ url_for('static', filename='icon_compare.svg') }}"
  type="image/svg+xml"
/>
{% endblock %} {% block content %}
<div id="page-identifier" data-page="compare" style="display: none"></div>
<ul class="nav nav-tabs" id="solutionTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="merger-tab"
      data-bs-toggle="tab"
      data-bs-target="#merger"
      type="button"
      role="tab"
      aria-controls="merger"
      aria-selected="true"
    >
      Solution Merger
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="comparator-tab"
      data-bs-toggle="tab"
      data-bs-target="#comparator"
      type="button"
      role="tab"
      aria-controls="comparator"
      aria-selected="false"
    >
      Solution Comparator
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="program-comparator-tab"
      data-bs-toggle="tab"
      data-bs-target="#programcomparator"
      type="button"
      role="tab"
      aria-controls="programcomparator"
      aria-selected="false"
    >
      Program Comparator
    </button>
  </li>
</ul>
<div class="tab-content mt-4" id="solutionTabsContent">
  <!-- Solution Merger Tab -->
  <div
    class="tab-pane fade show active"
    id="merger"
    role="tabpanel"
    aria-labelledby="merger-tab"
  >
    <div class="row mb-2">
      <div class="col-12 mb-3">
        <h5>
          Aggregate multiple solutions for their common tasks and compute
          statistics.
        </h5>
        Use filters to select the solutions to merge. Merged solutions
        statistics are displayed in the graph below.
      </div>
    </div>
    <div class="row mb-2">
      <h4 class="mb-3">Filters</h4>
      <div class="col-3">
        <h5 class="mb-3">Host system</h5>
        <select id="hostSelectMerger" class="form-select mb-3">
          <option selected>Select Host</option>
          {% for host in hosts %}
          <option value="{{ host }}">{{ host }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">System type</h5>
        <select id="systemTypeSelectMerger" class="form-select mb-3">
          <option selected>Select System Type</option>
          {% for system_type in system_types %}
          <option value="{{ system_type }}">{{ system_type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">Solver method</h5>
        <select id="solverMethodSelectMerger" class="form-select mb-3">
          <option selected>Select Solver Method</option>
          {% for solver_method in solver_methods %}
          <option value="{{ solver_method }}">{{ solver_method }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">Tag</h5>
        <select id="tagSelectMerger" class="form-select mb-3">
          <option selected>Select Tag</option>
          {% for tag in tags %}
          <option value="{{ tag }}">{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <button id="mergerFilterButton" class="btn btn-info">
          Filter Results
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h4>
          Select solutions to merge
          <span id="mergerResultsSelectSize" class="badge bg-info rounded-pill"
            >{{ solutions_ids_tags | length }}</span
          >
        </h4>
        <div class="d-flex mb-3 mt-3">
          <button
            id="mergerSelectAllButton"
            class="btn btn-sm btn-primary me-2"
          >
            Select All
          </button>
          <button id="mergerUnselectAllButton" class="btn btn-sm btn-secondary">
            Unselect All
          </button>
        </div>
        <select id="mergerResultsSelect" multiple class="form-select" size="10">
          {% for solution, tags in solutions_ids_tags %}
          <option value="{{ solution }}">
            {{ solution }} - {% for tag in tags %} {{ tag.key }}:{{ tag.value
            }}{% if not loop.last %}, {% endif %} {% endfor %}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <button id="mergeButton" class="btn btn-success">
          Merge Solutions
        </button>
        <div id="mergedGraphContainer" class="mt-4"></div>
      </div>
    </div>
  </div>
  <!-- Solution Comparator Tab -->
  <div
    class="tab-pane fade"
    id="comparator"
    role="tabpanel"
    aria-labelledby="comparator-tab"
  >
    <div class="row mb-2">
      <div class="col-12 mb-3">
        <h5>
          Test solution reusability by comparing the results of an experiment
          run on similar other systems.
        </h5>
        Use filters to select a baseline solution, then select comparison
        systems amongst the compatible ones.
      </div>
    </div>
    <div class="row mb-2">
      <h4 class="mb-3">Filters</h4>
      <div class="col-3">
        <h5 class="mb-3">Host system</h5>
        <select id="hostSelect" class="form-select mb-3">
          <option selected>Select Host</option>
          {% for host in hosts %}
          <option value="{{ host }}">{{ host }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">System type</h5>
        <select id="systemTypeSelect" class="form-select mb-3">
          <option selected>Select System Type</option>
          {% for system_type in system_types %}
          <option value="{{ system_type }}">{{ system_type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">Solver method</h5>
        <select id="solverMethodSelect" class="form-select mb-3">
          <option selected>Select Solver Method</option>
          {% for solver_method in solver_methods %}
          <option value="{{ solver_method }}">{{ solver_method }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <h5 class="mb-3">Tag</h5>
        <select id="tagSelect" class="form-select mb-3">
          <option selected>Select Tag</option>
          {% for tag in tags %}
          <option value="{{ tag }}">{{ tag }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <button id="filterButton" class="btn btn-info">Filter Results</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <h4>
          1. Select baseline Solution
          <span id="resultsSelectSize" class="badge bg-info rounded-pill"
            >{{ solutions_ids_tags | length }}</span
          >
        </h4>
        <select id="resultsSelect" class="form-select" size="10">
          {% for solution, tags in solutions_ids_tags %}
          <option value="{{ solution }}">
            {{ solution }} - {% for tag in tags %} {{ tag.key }}:{{ tag.value
            }}{% if not loop.last %}, {% endif %} {% endfor %}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-between">
          <h4>
            2. Select comparison systems
            <span id="compareSelectSize" class="badge bg-info rounded-pill"
              >0</span
            >
          </h4>
          <div class="d-flex me-3">
            <button id="selectAllButton" class="btn btn-sm btn-primary me-2">
              Select All
            </button>
            <button id="unselectAllButton" class="btn btn-sm btn-secondary">
              Unselect All
            </button>
          </div>
        </div>
        <select
          id="compareSelect"
          multiple
          class="form-select"
          size="10"
        ></select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <button id="compareButton" class="btn btn-success">
          Compare Systems
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-4">
        <table id="resultsTable" class="table table-hover">
          <thead>
            <tr>
              <th>System</th>
              <th>RMSD</th>
              <th>MAPE</th>
              <th>R²</th>
              <th>Residual norm</th>
              <th>Residual %</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Program Comparator Tab -->
  <div
    class="tab-pane fade"
    id="programcomparator"
    role="tabpanel"
    aria-labelledby="program-comparator-tab"
  >
    <div class="row mb-2">
      <div class="col-12 mb-3">
        <h5>
          Compare the power consumption of a task accross different experiments
          by tags.
        </h5>
        A tag key is required as a baseline for the comparison, as aggregated
        power consumption of a task is then generated per key value.
      </div>
    </div>
    <div class="row mb-2">
      <h4 class="mb-3">Filters</h4>
      <div class="col-4">
        <h5 class="mb-2 mt-2">
          Tag key
          <span class="badge bg-warning rounded-pill ms-3">Required</span>
        </h5>
        <select id="TagKeySelectProgram" class="form-select mb-3">
          <option selected>Select Tag Key</option>
          {% for tag in tags | unique(attribute='key') %}
          <option value="{{ tag.key }}">{{ tag.key }}</option>
          {% endfor %}
        </select>
        <div id="TagValuesProgram"></div>
      </div>
      <div class="col-4">
        <h5 class="mb-3">Host system</h5>
        <select id="hostSelectProgram" class="form-select mb-3">
          <option selected>Select Host</option>
          {% for host in hosts %}
          <option value="{{ host }}">{{ host }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-4">
        <h5 class="mb-3">System type</h5>
        <select id="systemTypeSelectProgram" class="form-select mb-3">
          <option selected>Select System Type</option>
          {% for system_type in system_types %}
          <option value="{{ system_type }}">{{ system_type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <button id="filterButtonProgram" class="btn btn-info">
          Filter Results
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <div class="d-flex align-items-center justify-content-between">
          <h4>
            1. Select Linear Systems
            <span
              id="resultsSelectProgramSize"
              class="badge bg-info rounded-pill"
            ></span>
          </h4>
          <div class="d-flex me-3">
            <button id="tagSelectAllButton" class="btn btn-sm btn-primary me-2">
              Select All
            </button>
            <button id="tagUnselectAllButton" class="btn btn-sm btn-secondary">
              Unselect All
            </button>
          </div>
        </div>
        <select
          id="resultsSelectProgram"
          multiple
          class="form-select"
          size="10"
        ></select>
      </div>
      <div class="col-6">
        <h4>2. Select A Task</h4>
        <select id="TaskSelectProgram" class="form-select" size="10"></select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <button id="compareButtonProgram" class="btn btn-success">
          Compare
        </button>
      </div>
    </div>
    <div id="programPowerGraphContainer" class="mt-4"></div>
    <div id="programTimeGraphContainer" class="mt-4"></div>
    <div id="programEnergyGraphContainer" class="mt-4"></div>
    <div id="programEdpGraphContainer" class="mt-4"></div>
  </div>
</div>
{% endblock %}
