{% extends "base.html" %}

{% block title %}{{ experiment_name }}{% endblock %}

{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='icon_plots.svg') }}" type="image/svg+xml">
{% endblock %}

{% block content %}
<div id="page-identifier" data-page="experiment" style="display: none;"></div>
<!-- Title -->
<div class="row">
    <div class="col-12 text-center mt-3 mb-5">
        <h1>Experiment results for {{ experiment_name }}</h1>
    </div>
</div>
<!-- Solver selection -->
<div class="row mb-5">
    <div class="col-4 text-center">
        <div class="d-flex justify-content-center align-items-center">
            <label for="solverSelect" class="form-label me-2">Solver:</label>
            <select id="solverSelect" class="form-select me-2" aria-label="Select Solver">
                <option value="{{ default_solver }}" selected>{{ default_solver }}</option>
                {% for solver in solver_options %}
                <option value="{{ solver }}">{{ solver }}</option>
                {% endfor %}
            </select>
            <button type="button" id="updateButton" class="btn btn-primary">Update</button>
            <input type="hidden" id="experimentName" value="{{ experiment_name }}">
        </div>
    </div>
</div>
<!-- Plots -->
<div class="row">
    <div class="col-12 pl-5">
        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for system_name in systems.keys() %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if loop.first %}active{% endif %}" id="{{ system_name }}-tab"
                    data-bs-toggle="tab" data-bs-target="#{{ system_name }}" type="button" role="tab">
                    {{ system_name }}
                </button>
            </li>
            {% endfor %}
        </ul>
        <!-- Tab Content -->
        <div class="tab-content" id="{{ system_name }}">
            {% for system_name, system_dict in systems.items() %}
            <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ system_name }}" role="tabpanel">
                {{ system_dict['script'] | safe }}
                <input type="hidden" id="{{ system_name }}-bokeh-index" value="{{ system_dict['doc_index'] }}">
                <!-- Plots -->
                <div id=time_plot>{{ system_dict['time_plot'] | safe }}</div>
                <hr class="border border-1 opacity-50 mt-3 mb-3">
                <div id=energy_plot>{{ system_dict['energy_plot'] | safe }}</div>
                <div class=row>
                    <!-- Solver Validation -->
                    <div class="col-5 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 id="{{ system_name }}-validation-title">
                                    Validation ({{ default_solver }})
                                </h3>
                            </div>
                            <div class="card-body" id="{{ system_name }}-validation-body">
                                {{ system_dict['validation'] | safe }}
                            </div>
                        </div>
                    </div>
                    <!-- Solver Results -->
                    <div class="col-7 mt-3 ml-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 id="{{ system_name }}-solution-title">Results ({{ default_solver }})</h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Task</th>
                                            <th scope="col">Power</th>
                                            <th scope="col">Average Duration</th>
                                            <th scope="col">Energy</th>
                                        </tr>
                                    </thead>
                                    <tbody id="{{ system_name }}-solution-list">
                                        {% for task_name, task_dict in system_dict['legend_dict'].items() %}
                                        <tr id="{{ system_name }}-{{ task_name }}-solution-item">
                                            <th scope="row" class="d-flex align-items-center">
                                                <svg class="svg-checkbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                    <rect width="20" height="20" fill="{{ task_dict['color'] }}" stroke="grey" stroke-width="1" />
                                                </svg>
                                                <span>{{ task_name }}</span>
                                            </th>
                                            <td class="power-cell">{{ task_dict['power'] }}</td>
                                            <td>{{ task_dict['avg_duration'] }}</td>
                                            <td class="energy-cell">{{ task_dict['energy'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}