{% extends "base.html" %} {% block title %}Experiments Index{% endblock %} {%
block favicon %}
<link
  rel="icon"
  href="{{ url_for('static', filename='pencil-square.svg') }}"
  type="image/svg+xml"
/>
{% endblock %} {% block content %}
<div id="page-identifier" data-page="index" style="display: none"></div>
<div class="row align-items-center">
  <div class="col text-center">
    <h1 class="mb-5 mt-3">
      Available Experiments
      <span class="badge bg-primary rounded-pill">
        {{ experiments|length }}
      </span>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-11 mx-auto mt-3">
    <div class="list-group container-fluid">
      {% if experiments|length == 0 %}
      <div class="list-group-item custom-list-item d-flex fs-5">
        No experiments available
      </div>
      {% else %}
      <div class="list-group-item active fs-4 d-flex">
        <div class="col-3">Experiment ID</div>
        <div class="col-1">Duration</div>
        <div class="col-2">Energy</div>
        <div class="col-2">Tags</div>
        <div class="col-3 text-center">Environment</div>
        <div class="col-2">Actions</div>
      </div>
      <!-- Add Tag Modal -->
      <div
        class="modal fade"
        id="addTagModal"
        tabindex="-1"
        aria-labelledby="addTagModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addTagModalLabel">Add Tag</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="addTagForm">
                <div class="mb-3">
                  <label for="tagKey" class="form-label">Tag Key</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tagKey"
                    placeholder="Enter tag key"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="tagValue" class="form-label">Tag Value</label>
                  <input
                    type="text"
                    class="form-control"
                    id="tagValue"
                    placeholder="Enter tag value"
                    required
                  />
                </div>
                <input type="hidden" id="experimentModalId" value="" />
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="insertTagButton"
              >
                Insert Tag
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Remove Tag Modal -->
      <div
        class="modal fade"
        id="removeTagModal"
        tabindex="-1"
        aria-labelledby="removeTagModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeTagModalLabel">Remove Tags</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form id="removeTagForm">
                <div id="tagsList" class="mb-3"></div>
                <input type="hidden" id="removeExperimentModalId" value="" />
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-danger" id="removeTagButton">
                Remove Selected Tags
              </button>
            </div>
          </div>
        </div>
      </div>
      {% for experiment in experiments %}
      <div
        class="list-group-item custom-list-item d-flex"
        data-experiment-id="{{ experiment.id }}"
      >
        <div class="col-3">
          <a
            href="{{ url_for('show_experiment', experiment_name=experiment.id) }}"
            class="d-block"
          >
            {{ experiment.id }}
          </a>
          <div>Cluster : {{ experiment.host.cluster.id }}</div>
          <div>Date : {{ experiment.date.strftime('%Y-%m-%d %H:%M:%S') }}</div>
        </div>
        <div class="col-1">
          <span>{{ experiment.duration_s | round }} s</span>
        </div>
        <div class="col-2">
          {% for key, value in experiment.total_energy.items() %} {% if key ==
          'TOTAL_PKG_ENERGY' %}
          <div><strong>CPU Package:</strong> {{ value }} J</div>
          {% elif key == 'TOTAL_GPU_ENERGY' %}
          <div><strong>GPU:</strong> {{ value }} J</div>
          {% elif key == 'TOTAL_RAM_ENERGY' %}
          <div><strong>RAM:</strong> {{ value }} J</div>
          {% else %}
          <div><strong>{{ key }}:</strong> {{ value }} J</div>
          {% endif %} {% endfor %}
        </div>
        <div class="col-2">
          {% if experiment.tags %} {% for tag in experiment.tags %}
          <span class="badge bg-secondary rounded-pill me-1">{{ tag }}</span>
          {% endfor %} {% else %}
          <span class="badge bg-secondary">No tags</span>
          {% endif %}
          <span class="badge bg-success rounded-pill add-tag-badge">+</span>
          {% if experiment.tags %}
          <span class="badge bg-danger rounded-pill remove-tag-badge">-</span>
          {% else %}
          <span
            class="badge bg-danger rounded-pill remove-tag-badge"
            style="visibility: hidden"
            >-</span
          >
          {% endif %}
        </div>
        <div class="col-3 text-center">
          <button
            class="btn btn-outline-info"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#environment-{{ loop.index }}"
            aria-expanded="false"
            aria-controls="environment-{{ loop.index }}"
          >
            View Environment
          </button>
          <div class="collapse mt-2" id="environment-{{ loop.index }}">
            <ul class="list-group">
              {% for key, value in experiment.environment.items() %}
              <li class="list-group-item">
                <strong>{{ key }}:</strong> {{ value }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center">
          <button class="btn btn-sm btn-danger delete-experiment-btn ms-3">
            Delete
          </button>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
