/* static/styles.css */

.custom-list-item {
    background-color: #f8f9fa;
    border: 3px solid #dee2e6;
    color: #343a40;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.custom-list-item a {
    color: #007bff;
    text-decoration: none;
}

.custom-list-item a:hover {
    text-decoration: underline;
}

.svg-checkbox {
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

#mergedGraphContainer {
    width: 90%; 
    height: 70vh; 
    overflow: hidden; 
}

#programPowerGraphContainer {
    width: 90%; 
    height: 70vh; 
    overflow: hidden; 
}

#programTimeGraphContainer {
    width: 90%; 
    height: 70vh; 
    overflow: hidden; 
}

#programEnergyGraphContainer {
    width: 90%; 
    height: 70vh; 
    overflow: hidden; 
}

#programEdpGraphContainer {
    width: 90%; 
    height: 70vh; 
    overflow: hidden; 
}
